[Unit]
Description=MUNGE authentication service
Documentation=man:munged(8)
After=network.target
After=time-sync.target

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir -p /var/log/munge /var/run/munge
ExecStart=/usr/sbin/munged
PIDFile=/var/run/munge/munged.pid
User=root
Group=root
Restart=on-abort

[Install]
WantedBy=multi-user.target